{% extends 'base.html' %}

{% block content %}
<form action = "{% url 'item-list'%}" class="form-inline my-2 my-lg-0" method = "GET">
        <input class="form-control mr-sm-2" type="text" placeholder="Search Items" value = "{{request.GET.q}}" aria-label="Search" name = 'q'>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<div class="row">
    {% for item in items %}
<div class="col-sm-4 py-2">
        <div class="card h-100">
            <img class="card-img-top" height="55%" src="{{item.image.url}}" alt="Card image cap">
            <div class="card-body bg-light">
                <h3 class="card-title">{{item.name}}</h3>
                <a href="{% url 'item-detail' item.id %}" class="btn btn-outline-dark">More</a>
                <button class="btn" onclick="wishlist({{item.id}})">                   
                    <i id="star-{{item.id}}" class="fas fa-star {% if item.id in my_wishlist %}text-warning{% endif %}"></i>
                </button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script>

  function wishlist(item_id) 
  {
    let star_id = "#star-"+item_id;
    console.log(star_id);
       $.ajax(
           {
               type:'GET',
               url: '/items/'+item_id+'/wishlist/',
               success: function(data){
                   if (data.action==="wishlisted"){
                        console.log(data.action);
                       $(star_id).addClass("text-warning")
                   }
                   else{
                        console.log('nope');
                       $(star_id).removeClass("text-warning")
                   }
               },
                error: function(){
                   alert ("Something went wrong, please try again.")
               }
           }
       );
   } 
</script>


{% endblock content%}


